//
//___Reset & Import___
@use 'font-size';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "fresca", sans-serif;
    color: #ffffff;
}

//
//___Regras gerais___
.texto{text-shadow: 2px 4px 2px rgb(1,1,1,.8);}

.background_bottom{
    background-image: url(../img/background1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    padding-top: 66vh;
}

//
//___Regras Eespecíficas___
.header{
    background-image: url(../img/background_top.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    max-height: 36vh;

    .container{
        max-width: 420px;
        margin: 0 auto;
        text-align: center;
        position: relative;
        padding-top: 24vh;

        @media (max-width: 1440px){
            padding-top: 21vh;
        }

        @media (max-width: 1024px){
            padding-top: 14vh;
        }

        @media (max-width: 768px){
            max-width: 280px;
            padding-top: 22vh;
        }

        .perfil{
            .flip_card{
                max-width: 280px;
                margin: 0 auto;
                
                @media (max-width: 768px){
                    max-width: 210px;
                }

                &__inner{
                    position: relative;

                    &__back, &__front{
                        position: absolute;
                    }
                }

                &__img{
                    width: 100%;
                    height: 100%;
                    border-radius: 42%;
                    box-shadow: 4px 4px 8px 2px rgba(0, 0, 0, .6);

                    @media (max-width: 768px){
                        box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, .6);
                    }
                }
            }
        }
        

        .text{
            position: relative;
            top: 40vh;
    
            @media (max-width: 1440px){
                top: 32vh;
            }
    
            @media (max-width: 1024px){
                top: 44vh;
            }

            @media (max-width: 768px){
                top: 36vh;
            }
        }

        .links{
            position: relative;
            top: 44vh;
            display: flex;
            justify-content: space-evenly;
            @media (max-width: 768px){
                top: 42vh;
            }

            .svg{
                width: 64px;
                border: solid transparent 5px;
                transition: all ease 0.2s;
                border-radius: 50%;

                @media (max-width: 768px){
                    width: 52px;
                }

                &:hover{
                    width: 64px;
                    border: solid transparent 1px;

                    @media (max-width: 768px){
                        width: 52px;
                    }
                }
            }
        }   
    }

    .bottom_text{
        position: relative;
        top: 46vh;
        margin: 0 auto;
        margin-bottom: 4vh;
        text-align: center;

        @media (max-width: 768px){
            top: 44vh;
        }
    }
}

//
//___Regras animação do flip card___
.flip_card:hover .flip_card__inner{
    transform: rotateY(-180deg);
}
.flip_card__inner{
    transition: transform 1s;
    transform-style: preserve-3d;
}
.flip_card__inner__front{
    backface-visibility: hidden;
}

//
//___Regras exclusivas para pós resize da window (rotação de dispositivo mobile)___
.virado{
    .container{
        
        .perfil{
                position: relative;
                max-width: 160px;
                left: -12vw;
            }

        .texto{
            position: relative;
            left: -12vw;
            top: -10vh;
            text-align: start;
        }

        .links{
            width: 32%;
            position: relative;
            left: 36vw;
            top: 16vh;
        }
    }

    .bottom_text{
        position: relative;
        top: 24vh;
    }
}