*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "fresca", sans-serif;
    color: #ffffff;
}

.text{text-shadow: 2px 4px 2px rgb(1,1,1,.8);}

.background_bottom{
    background-image: url(../img/background1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    padding: 30vh 0vh;
}

.header{
    background-image: url(../img/background_top.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0;
    height: 100%;
    max-height: 40vh;

    h2{
        font-size: 40px;
        @media (max-width: 768px){
            font-size: 28px;
        }
    }
    h3{
        font-size: 24px;
        @media (max-width: 768px){
            font-size: 18px;
        }
    }
    h4{
        font-size: 20px;
        @media (max-width: 768px){
            font-size: 16px;
        }
    }
    h5{
        font-size: 16px;
        @media (max-width: 768px){
            font-size: 12px;
        }
    }

    .container{
        max-width: 420px;
        margin: 0 auto;
        text-align: center;
        position: relative;
        padding-top: 20vh;

        @media (max-width: 1024px){
            padding-top: 14vh;
        }

        @media (max-width: 768px){
            max-width: 280px;
            padding-top: 22vh;
        }

        .perfil{

            .hidden{display: none;}

            img{
                position: absolute;
                max-width: 280px;
                border-radius: 42%;
                position: relative;
                box-shadow: 4px 4px 8px 2px rgba(0, 0, 0, .6);
                transition: all 1s ease;

                @media (max-width: 768px){
                    max-width: 210px;
                    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, .6);
                }
            }

            .texto{
                margin-top: 16px;

                @media (max-width: 768px){
                    margin-top: 14px;
                }
            }
        } 
        

        .links{
            margin-top: 40px;
            display: flex;
            justify-content: space-evenly;

            @media (max-width: 768px){
                margin-top: 32px;
            }

            img{
                width: 64px;
                border: solid transparent 5px;
                transition: all ease 0.2s;
                border-radius: 50%;

                @media (max-width: 768px){
                    width: 52px;
                }

                &:hover{
                    width: 64px;
                    border: solid transparent 1px;

                    @media (max-width: 768px){
                        width: 52px;
                    }
                }
            }
        }

        .footer{
            margin-top: 16px;
            margin-bottom: 4vh;
        }    
    }
}

.virado{
    
}